* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#quiz-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  #options-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;

    .option {
      list-style: none;

      .option-button {
        min-width: 240px;
        padding: 14px;
        text-align: start;
        text-transform: capitalize;
      }
    }
  }
}